{#
/**
 * @file
 * Theme override to present all user data.
 *
 * This template is used when viewing a registered user's page,
 * e.g., example.com/user/123. 123 being the user's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.field_example'. Fields attached to a user
 *   such as 'user_picture' are available as 'content.user_picture'.
 * - attributes: HTML attributes for the container element.
 * - user: A Drupal User entity.
 * - up: User Picture.
 *
 * @see template_preprocess_user()
 */
#}
{% set user_name = user.get('name').getValue()[0].value %}
<article{{ attributes.addClass('profile') }}>
  <div class="row user-profile">
    <div class="col s2 push-l1">
      {{ up }}
    </div>
    <div class="col s9 push-l1">
      {% if user_name %}
        <h1>{{ user_name }}</h1>
      {% endif %}
      {{ content }}
    </div>
  </div>
</article>
